# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
.venv/
env/
.env/

# IDEs
.vscode/
.idea/

# Project Specific
# Data ingestion results (Temporary)
data/sqlite/*.json
data/sqlite/*.db
# Generated outputs (Temporary)
output/xml/*.xml

# Database Files (Don't commit the actual DB)
*.gdb
*.fdb
*.lo
*.log
logs/
startup_log.txt

# Windows internal
Thumbs.db
Desktop.ini

#Git ignore
.gitignore